* {
    margin: 0 auto;
    box-sizing: border-box;align-self: start;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}
body {
    font-size: 16px;
    font-family: 'Ms Madi', cursive;
}

header, main, footer {
    max-width: 500px;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    padding: .5rem;
    background-color: rgb(131, 99, 134);
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}

header img {
    max-width: 100px;
    height: auto;
    padding: 5px;
}
/*h2 {
    display: grid;
    grid-template-columns: 100px;
    grid-column: 2;
}*/

footer {
    margin: 1rem auto;
    padding: .5rem;
    background-color: rgb(131, 99, 134);
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}

#currentdate body span {
    margin: .5rem;
    font-weight: 700;
    color: rgba(50,50,250,1);
}

h2 {
    padding-left: 1rem;
}

ul {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.5;
    border-top: 1px solid rgb(131, 99, 134);
    border-bottom: 1px solid rgb(131, 99, 134);
}