@media only screen and (min-width: 32.5em) {
    body, h2 {
      font-size: 16px;  
    }
    header {
        grid-template-columns: 200px 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: .5rem auto;
    }
    header img {
        grid-row: 1/4;
        float: left;
    }
    h1 {
        grid-row: 2;
        grid-column: 2;
        font-size: 22px;
    }
}